{% extends "base.html.twig" %}

{% block content %}
    <h3>Feed a Portion or two...</h3>
    {{ form_start(form) }}
        <button type="submit" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Portion size as defined under settings.">
            <span class="glyphicon glyphicon-tint"></span> Feed one Portion
        </button>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock content %}