{% extends "base.html.twig" %}

{% block content %}
    <h3>Feed a Portion or two...</h3>
    <button class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Portion size as defined under settings.">
        <span class="glyphicon glyphicon-tint"></span> Feed one Portion
    </button>
{% endblock content %}