{% extends 'base.html.twig' %}

{% block content %}
    <h2>Welcome to the Raspberry Pi Cat Feeder Control Center</h2>
    <p>With this application you can feed portions or change your settings.</p>
{% endblock %}

