{% extends 'base.html.twig' %}

{% block content %}
    <h2>Welcome to the Raspberry Pi Cat Feeder Control Center</h2>
    <p>Go ahead and feed a portion or change your settings.</p>
    <p>You can find the full building instructions under <a href="https://davidkoenig.github.io/catfeeder">github page</a></p>
    <p>If there is any update, just run the deploy script again.</p>
{% endblock %}

