{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h3>Please login</h3>
            <form action="{{ path('login') }}" method="post">
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-10">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-10 text-right">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if error %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Error logging in!
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ error.message }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}