# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     catfeeder
    database_user:     catfeeder
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ydaa5_GI`K5&l~FPl4XCH89n=+'@rn

    # Login values --> Change this to your own!!!
    app_user: admin
    app_password: $2y$12$emUUPhOjq/NtOGOPMTzL0uwY71425XNiH5lu2B0USaRmAvYY6AWl.